<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>foo</p>
<p>error</p>
<p>fileWriter</p>
<p>dataSource</p>
<p>jpaContext</p>
<p>mvcValidator</p>
<p>viewResolver</p>
<p>sortResolver</p>
<p>jdbcTemplate</p>
<p>barController</p>
<p>themeResolver</p>
<p>barRepository</p>
<p>fryApplication</p>
<p>homeController</p>
<p>localeResolver</p>
<p>mvcPathMatcher</p>
<p>sortCustomizer</p>
<p>templateEngine</p>
<p>errorAttributes</p>
<p>flashMapManager</p>
<p>mvcViewResolver</p>
<p>jsonMixinModule</p>
<p>mvcPatternParser</p>
<p>mvcUrlPathHelper</p>
<p>jpaVendorAdapter</p>
<p>pageableResolver</p>
<p>jacksonGeoModule</p>
<p>java8TimeDialect</p>
<p>liveReloadServer</p>
<p>dispatcherServlet</p>
<p>formContentFilter</p>
<p>jpaMappingContext</p>
<p>messageConverters</p>
<p>multipartResolver</p>
<p>viewNameTranslator</p>
<p>transactionManager</p>
<p>lifecycleProcessor</p>
<p>pageableCustomizer</p>
<p>taskExecutorBuilder</p>
<p>errorPageCustomizer</p>
<p>defaultViewResolver</p>
<p>jacksonObjectMapper</p>
<p>jsonComponentModule</p>
<p>transactionTemplate</p>
<p>restTemplateBuilder</p>
<p>beanNameViewResolver</p>
<p>basicErrorController</p>
<p>mvcConversionService</p>
<p>requestContextFilter</p>
<p>parameterNamesModule</p>
<p>entityManagerFactory</p>
<p>taskSchedulerBuilder</p>
<p>routerFunctionMapping</p>
<p>thymeleafViewResolver</p>
<p>beanNameHandlerMapping</p>
<p>resourceHandlerMapping</p>
<p>mvcResourceUrlProvider</p>
<p>handlerFunctionAdapter</p>
<p>transactionInterceptor</p>
<p>multipartConfigElement</p>
<p>applicationTaskExecutor</p>
<p>applicationAvailability</p>
<p>defaultTemplateResolver</p>
<p>characterEncodingFilter</p>
<p>handlerExceptionResolver</p>
<p>classPathRestartStrategy</p>
<p>fileSystemWatcherFactory</p>
<p>optionalLiveReloadServer</p>
<p>welcomePageHandlerMapping</p>
<p>httpRequestHandlerAdapter</p>
<p>jacksonObjectMapperBuilder</p>
<p>stringHttpMessageConverter</p>
<p>namedParameterJdbcTemplate</p>
<p>transactionAttributeSource</p>
<p>classPathFileSystemWatcher</p>
<p>conventionErrorViewResolver</p>
<p>mvcUriComponentsContributor</p>
<p>entityManagerFactoryBuilder</p>
<p>requestMappingHandlerAdapter</p>
<p>mvcContentNegotiationManager</p>
<p>requestMappingHandlerMapping</p>
<p>viewControllerHandlerMapping</p>
<p>defaultServletHandlerMapping</p>
<p>tomcatServletWebServerFactory</p>
<p>dispatcherServletRegistration</p>
<p>mvcHandlerMappingIntrospector</p>
<p>restTemplateBuilderConfigurer</p>
<p>liveReloadServerEventListener</p>
<p>simpleControllerHandlerAdapter</p>
<p>localeCharsetMappingsCustomizer</p>
<p>tomcatWebServerFactoryCustomizer</p>
<p>inMemoryDatabaseShutdownExecutor</p>
<p>servletWebServerFactoryCustomizer</p>
<p>openEntityManagerInViewInterceptor</p>
<p>websocketServletWebServerCustomizer</p>
<p>errorPageRegistrarBeanPostProcessor</p>
<p>mappingJackson2HttpMessageConverter</p>
<p>dataSourceScriptDatabaseInitializer</p>
<p>propertySourcesPlaceholderConfigurer</p>
<p>hikariPoolDataSourceMetadataProvider</p>
<p>platformTransactionManagerCustomizers</p>
<p>emBeanDefinitionRegistrarPostProcessor</p>
<p>tomcatServletWebServerFactoryCustomizer</p>
<p>restartingClassPathChangedEventListener</p>
<p>conditionEvaluationDeltaLoggingListener</p>
<p>webServerFactoryCustomizerBeanPostProcessor</p>
<p>projectingArgumentResolverBeanPostProcessor</p>
<p>standardJacksonObjectMapperBuilderCustomizer</p>
<p>openEntityManagerInViewInterceptorConfigurer</p>
<p>persistenceExceptionTranslationPostProcessor</p>
<p>scheduledBeanLazyInitializationExcludeFilter</p>
<p>preserveErrorControllerTargetClassPostProcessor</p>
<p>org.springframework.aop.config.internalAutoProxyCreator</p>
<p>org.springframework.orm.jpa.SharedEntityManagerCreator#0</p>
<p>org.springframework.data.jpa.util.JpaMetamodelCacheCleanup</p>
<p>org.springframework.context.event.internalEventListenerFactory</p>
<p>org.springframework.data.web.config.SpringDataWebConfiguration</p>
<p>org.springframework.boot.autoconfigure.aop.AopAutoConfiguration</p>
<p>org.springframework.context.event.internalEventListenerProcessor</p>
<p>org.springframework.boot.autoconfigure.AutoConfigurationPackages</p>
<p>org.springframework.transaction.config.internalTransactionAdvisor</p>
<p>server-org.springframework.boot.autoconfigure.web.ServerProperties</p>
<p>org.springframework.data.web.config.SpringDataJacksonConfiguration</p>
<p>spring.web-org.springframework.boot.autoconfigure.web.WebProperties</p>
<p>org.springframework.boot.autoconfigure.jdbc.JdbcTemplateConfiguration</p>
<p>org.springframework.boot.context.internalConfigurationPropertiesBinder</p>
<p>org.springframework.boot.autoconfigure.jdbc.DataSourceJmxConfiguration</p>
<p>spring.jdbc-org.springframework.boot.autoconfigure.jdbc.JdbcProperties</p>
<p>org.springframework.boot.autoconfigure.jackson.JacksonAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration</p>
<p>spring.jpa-org.springframework.boot.autoconfigure.orm.jpa.JpaProperties</p>
<p>org.springframework.data.web.config.ProjectingArgumentResolverRegistrar</p>
<p>org.springframework.context.annotation.internalCommonAnnotationProcessor</p>
<p>org.springframework.boot.context.properties.BoundConfigurationProperties</p>
<p>org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaConfiguration</p>
<p>org.springframework.boot.autoconfigure.info.ProjectInfoAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.context.LifecycleAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.jdbc.JdbcTemplateAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.task.TaskExecutionAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.WebMvcAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.jdbc.DataSourceConfiguration$Hikari</p>
<p>org.springframework.context.annotation.internalAutowiredAnnotationProcessor</p>
<p>org.springframework.boot.autoconfigure.internalCachingMetadataReaderFactory</p>
<p>org.springframework.boot.autoconfigure.transaction.jta.JtaAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.task.TaskSchedulingAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.thymeleaf.ThymeleafAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration</p>
<p>org.springframework.context.annotation.internalPersistenceAnnotationProcessor</p>
<p>org.springframework.boot.context.internalConfigurationPropertiesBinderFactory</p>
<p>org.springframework.boot.autoconfigure.jdbc.DataSourceJmxConfiguration$Hikari</p>
<p>org.springframework.data.jpa.repository.support.JpaEvaluationContextExtension</p>
<p>spring.info-org.springframework.boot.autoconfigure.info.ProjectInfoProperties</p>
<p>org.springframework.boot.autoconfigure.web.servlet.MultipartAutoConfiguration</p>
<p>spring.mvc-org.springframework.boot.autoconfigure.web.servlet.WebMvcProperties</p>
<p>org.springframework.boot.autoconfigure.data.web.SpringDataWebAutoConfiguration</p>
<p>org.springframework.boot.devtools.autoconfigure.LocalDevToolsAutoConfiguration</p>
<p>org.springframework.context.annotation.internalConfigurationAnnotationProcessor</p>
<p>spring.jackson-org.springframework.boot.autoconfigure.jackson.JacksonProperties</p>
<p>org.springframework.boot.autoconfigure.transaction.TransactionAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.client.RestTemplateAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.data.jpa.JpaRepositoriesAutoConfiguration</p>
<p>org.springframework.transaction.config.internalTransactionalEventListenerFactory</p>
<p>org.springframework.boot.autoconfigure.web.servlet.HttpEncodingAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.error.ErrorMvcAutoConfiguration</p>
<p>spring.datasource-org.springframework.boot.autoconfigure.jdbc.DataSourceProperties</p>
<p>org.springframework.boot.autoconfigure.http.HttpMessageConvertersAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.sql.init.SqlInitializationAutoConfiguration</p>
<p>org.springframework.transaction.annotation.ProxyTransactionManagementConfiguration</p>
<p>spring.devtools-org.springframework.boot.devtools.autoconfigure.DevToolsProperties</p>
<p>org.springframework.boot.autoconfigure.context.PropertyPlaceholderAutoConfiguration</p>
<p>spring.lifecycle-org.springframework.boot.autoconfigure.context.LifecycleProperties</p>
<p>org.springframework.boot.autoconfigure.jdbc.NamedParameterJdbcTemplateConfiguration</p>
<p>org.springframework.boot.devtools.autoconfigure.DevToolsDataSourceAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.DispatcherServletAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.http.JacksonHttpMessageConvertersConfiguration</p>
<p>org.springframework.boot.autoconfigure.sql.init.DataSourceInitializationConfiguration</p>
<p>spring.thymeleaf-org.springframework.boot.autoconfigure.thymeleaf.ThymeleafProperties</p>
<p>org.springframework.boot.context.properties.ConfigurationPropertiesBindingPostProcessor</p>
<p>org.springframework.boot.autoconfigure.orm.jpa.JpaBaseConfiguration$JpaWebConfiguration</p>
<p>spring.jpa.hibernate-org.springframework.boot.autoconfigure.orm.jpa.HibernateProperties</p>
<p>org.springframework.boot.autoconfigure.context.ConfigurationPropertiesAutoConfiguration</p>
<p>spring.data.web-org.springframework.boot.autoconfigure.data.web.SpringDataWebProperties</p>
<p>spring.task.execution-org.springframework.boot.autoconfigure.task.TaskExecutionProperties</p>
<p>org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.websocket.servlet.WebSocketServletAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.ServletWebServerFactoryAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.dao.PersistenceExceptionTranslationAutoConfiguration</p>
<p>spring.sql.init-org.springframework.boot.autoconfigure.sql.init.SqlInitializationProperties</p>
<p>spring.task.scheduling-org.springframework.boot.autoconfigure.task.TaskSchedulingProperties</p>
<p>spring.transaction-org.springframework.boot.autoconfigure.transaction.TransactionProperties</p>
<p>org.springframework.boot.autoconfigure.availability.ApplicationAvailabilityAutoConfiguration</p>
<p>spring.servlet.multipart-org.springframework.boot.autoconfigure.web.servlet.MultipartProperties</p>
<p>org.springframework.boot.autoconfigure.aop.AopAutoConfiguration$AspectJAutoProxyingConfiguration</p>
<p>org.springframework.boot.autoconfigure.jdbc.metadata.DataSourcePoolMetadataProvidersConfiguration</p>
<p>org.springframework.boot.devtools.autoconfigure.LocalDevToolsAutoConfiguration$RestartConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.WebMvcAutoConfiguration$EnableWebMvcConfiguration</p>
<p>org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration$PooledDataSourceConfiguration</p>
<p>org.springframework.boot.autoconfigure.thymeleaf.ThymeleafAutoConfiguration$ThymeleafJava8TimeDialect</p>
<p>org.springframework.boot.autoconfigure.web.servlet.ServletWebServerFactoryConfiguration$EmbeddedTomcat</p>
<p>org.springframework.boot.devtools.autoconfigure.LocalDevToolsAutoConfiguration$LiveReloadConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.embedded.EmbeddedWebServerFactoryCustomizerAutoConfiguration</p>
<p>org.springframework.boot.autoconfigure.jackson.JacksonAutoConfiguration$JacksonObjectMapperConfiguration</p>
<p>org.springframework.boot.autoconfigure.thymeleaf.ThymeleafAutoConfiguration$ThymeleafWebMvcConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.WebMvcAutoConfiguration$WebMvcAutoConfigurationAdapter</p>
<p>org.springframework.boot.autoconfigure.jackson.JacksonAutoConfiguration$ParameterNamesModuleConfiguration</p>
<p>org.springframework.boot.autoconfigure.jackson.JacksonAutoConfiguration$JacksonObjectMapperBuilderConfiguration</p>
<p>org.springframework.boot.context.properties.EnableConfigurationPropertiesRegistrar.methodValidationExcludeFilter</p>
<p>org.springframework.boot.autoconfigure.thymeleaf.ThymeleafAutoConfiguration$DefaultTemplateResolverConfiguration</p>
<p>org.springframework.boot.autoconfigure.thymeleaf.TemplateEngineConfigurations$DefaultTemplateEngineConfiguration</p>
<p>org.springframework.boot.autoconfigure.transaction.TransactionAutoConfiguration$TransactionTemplateConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.error.ErrorMvcAutoConfiguration$WhitelabelErrorViewConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.DispatcherServletAutoConfiguration$DispatcherServletConfiguration</p>
<p>org.springframework.boot.autoconfigure.websocket.servlet.WebSocketServletAutoConfiguration$TomcatWebSocketConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.error.ErrorMvcAutoConfiguration$DefaultErrorViewResolverConfiguration</p>
<p>org.springframework.boot.autoconfigure.transaction.TransactionAutoConfiguration$EnableTransactionManagementConfiguration</p>
<p>org.springframework.boot.autoconfigure.jackson.JacksonAutoConfiguration$Jackson2ObjectMapperBuilderCustomizerConfiguration</p>
<p>org.springframework.boot.autoconfigure.http.HttpMessageConvertersAutoConfiguration$StringHttpMessageConverterConfiguration</p>
<p>org.springframework.boot.autoconfigure.aop.AopAutoConfiguration$AspectJAutoProxyingConfiguration$CglibAutoProxyConfiguration</p>
<p>org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration$JdbcTransactionManagerConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.servlet.DispatcherServletAutoConfiguration$DispatcherServletRegistrationConfiguration</p>
<p>org.springframework.boot.sql.init.dependency.DatabaseInitializationDependencyConfigurer$DependsOnDatabaseInitializationPostProcessor</p>
<p>org.springframework.boot.autoconfigure.http.JacksonHttpMessageConvertersConfiguration$MappingJackson2HttpMessageConverterConfiguration</p>
<p>org.springframework.boot.autoconfigure.thymeleaf.ThymeleafAutoConfiguration$ThymeleafWebMvcConfiguration$ThymeleafViewResolverConfiguration</p>
<p>org.springframework.boot.autoconfigure.jdbc.metadata.DataSourcePoolMetadataProvidersConfiguration$HikariPoolDataSourceMetadataProviderConfiguration</p>
<p>org.springframework.boot.autoconfigure.transaction.TransactionAutoConfiguration$EnableTransactionManagementConfiguration$CglibAutoProxyConfiguration</p>
<p>org.springframework.boot.autoconfigure.web.embedded.EmbeddedWebServerFactoryCustomizerAutoConfiguration$TomcatWebServerFactoryCustomizerConfiguration</p>
<p>org.springframework.boot.devtools.autoconfigure.DevToolsDataSourceAutoConfiguration$DatabaseShutdownExecutorEntityManagerFactoryDependsOnPostProcessor</p>
